/* Checkbox */
.cbx {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}

.cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #9098a9;
  transition: all 0.2s ease;
}

.cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #d2d3e0;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}

.cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #d2d3e0;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}

.cbx span:last-child {
  padding-left: 8px;
}

.cbx:hover span:first-child {
  border-color: #9f9f9f;
}

.inp-cbx:checked + .cbx span:first-child {
  /* background: #506EEC; */
  border-color: #d2d3e0;
  animation: wave 0.3s ease;
}

.inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}

input[type="text"]::placeholder {
  opacity: 0.5;
}

.tremor-Card-root {
  background-color: #181922 !important;
}
.bg-tremor-background {
  background-color: #181922 !important;
}
.text-tremor-content-emphasis {
  color: #cccccc !important;
}
.ui-selected\:bg-tremor-background-muted[data-headlessui-state~="selected"] {
  background-color: #33343f !important;
}
.ui-selected\:bg-tremor-background-muted[data-headlessui-state~="active"] {
  background-color: #33343f !important;
}

@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}

@keyframes wooshUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}

@keyframes fadeIn {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.vertical-line {
  position: relative;
}

.vertical-line::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  background-color: #d2d3e0;
  height: 100%;
  opacity: 0.5;
}

.wooshUp {
  animation: wooshUp 0.8s ease-in forwards;
}

.fadeIn {
  animation: fadeIn 0.2s ease-out forwards;
}

/* Dot */
.glow-green {
  box-shadow:
    0 0 10px #3b82f6,
    0 0 20px #3b82f6,
    0 0 30px #3b83f6e1,
    0 0 40px #3b83f6e5;
}
.glow-yellow {
  box-shadow:
    0 0 5px #ffe692,
    0 0 20px #ffe692dd;
}

/* Editor */
.monaco-editor .aiDecoration {
  background-color: rgba(95, 0, 196, 0.164);
}

.no-focus-ring * {
  outline: none !important;
  box-shadow: none !important;
  border-color: #525363 !important;
  /* You can add more styles if needed */
}

.scrollable-div {
  max-height: 400px; /* or any other height */
  overflow-y: auto; /* or 'scroll' if you always want to display the scrollbar */
}
